
{% extends 'CBVBlogapp/commonpage.html' %}
{% block parentblock %}
{% load static %}
<link rel="stylesheet" type="text/css" href="static/css/style.css">

    <title>Create New Blog </title>
{% load crispy_forms_tags %}
<br>
<center> <h1> Create/Update New Blog </h1> </center> <br>
{% if msg %}
<div class="alert alert-success alert-dismissible">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <center><strong> {{msg}} </strong> </center>
</div>
{%endif%}
<div class="row justify-content-center">
  <div class="col-lg-4">

  <form method="post" enctype="multipart/form-data">
    {{form | crispy }}
    {% csrf_token %}
    <center><input type="submit" name="" value="Save" class="btn btn-success"> </center>
  </form>
  </div>
</div>
{% endblock %}
